<app-loading *ngIf="techNews.length <= 0"></app-loading>

<div class="header-contenido text-white">
    <h3>Latest news about technology</h3>
    <p>Latest tech trends | artificial intelligence</p>
</div>
<header class="container-fluid inicio">
    <div class="pt-3">
        <button class="btn btn-light" (click)="goBack()">Go back</button>
    </div>
</header>

<div class="container mt-3">
    <div class="grid-container my-4">
        <div *ngFor="let item of techNews">
            <img class="card-img-top" [src]="item.urlToImage | noImage" alt="">    
            <h3 >{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <div class="text-center">
                <a target="_blank" [href]="item.url" class="btn btn-primary" >Ver</a>
            </div>
        </div>
    </div>
</div>


