.inicio {
    background: url(../../../assets/img/header-tech.jpeg);
    background-position: center center;
    background-size: cover;
    height: 70vh;
    min-height: 30rem;
    filter: brightness(.6);
}

.header-contenido {
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}

@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 990px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}