
<div class="container">

</div>

<!-- <div class="card bg-dark text-white">
  <img src="https://www.lavoz.com.ar/resizer/am95EDmFm_484-AImZfERRNL62M=/1024x683/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/Z6ZNY3OWGZAXJDSDVNVERXA7VY.jpeg" class="card-img" alt="...">
  <div class="card-img-overlay">
      <h5 class="card-title">En juego: Argentina se florea ante Emiratos Árabes y lo golea</h5>
      <p class="card-text">Se juega en Abu Dhabi y es el último ensayo antes del debut.</p>
    </div>
</div> -->

<div class="container">
    <div class="card mt-2 mb-3" >
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://www.lavoz.com.ar/resizer/am95EDmFm_484-AImZfERRNL62M=/1024x683/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/Z6ZNY3OWGZAXJDSDVNVERXA7VY.jpeg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">En juego: Argentina se florea ante Emiratos Árabes y lo golea</h5>
              <p class="card-text">Se juega en Abu Dhabi y es el último ensayo antes del debut. Argentina juega el ultimo amistoso previo al mundial. La seleccion viene teniendo una excelente racha de victorias, el campeon de la copa America, vamos Argentina <!DOCTYPE html></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

</div>



<app-card></app-card>
