
<div class="container">
    <div class="card mt-2 mb-3" >
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://img5.s3wfg.com/web/img/images_uploaded/9/1/precios-criptomonedas-1024x767_780x440.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">La era digital de las criptomonedas</h5>
              <p class="card-text">El avance de la tecnologia es rapido y en la actualidad existen criptomonedas que cualquier persona puede comprar para poder invertir su dinero en distintos mercados como Fiat, P2P, farmer, etc<!DOCTYPE html></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <button routerLink="/bitcoins" class="btn btn-success">Mas noticias</button>
            </div>
          </div>
        </div>
      </div>

</div>



<app-card [news]="noticias"></app-card>
